<div class="container-new-song">
<form [formGroup]="songForm" (ngSubmit)="saveNewSong()">
  <div class="inputs-new-song">
  <label>{{ 'title-input' | translate }}:</label>
  <input formControlName="title" type="text" placeholder="Título de la canción" required />
  </div>

  <div class="inputs-new-song">
  <label>{{ 'artist-input' | translate }}:</label>
  <p-select formControlName="artist" [options]="artists" optionLabel="name"
                            placeholder="Select a artist" class="w-full md:w-56" />
</div>

  <div class="inputs-new-song">
  <label>{{ 'genre-input' | translate }}:</label>
  <p-multiselect [options]="genres" formControlName="genre" optionLabel="title"
  placeholder="Select genres" [maxSelectedLabels]="3" styleClass="w-full md:w-80" />
</div>

  <div class="inputs-new-song">
  <label>{{ 'company-input' | translate }}:</label>
  <p-select formControlName="company" [options]="companies" optionLabel="name"
                            placeholder="Select a company" class="w-full md:w-56" />
</div>

  <div class="inputs-new-song">
  <label>{{ 'country-input' | translate }}:</label>
  <p-select formControlName="country" [options]="countries" optionLabel="name"
                            placeholder="Select a country" class="w-full md:w-56" />
                          </div>

  <div class="inputs-new-song">
  <label>{{ 'year-input' | translate }}:</label>
  <p-datepicker formControlName="year" view="year" dateFormat="yy" />
  </div>

  <div class="inputs-new-song">
  <label>{{ 'puntuation-input' | translate }}:</label>
  <input formControlName="rating" type="number" step="0.1" min="0" max="10" placeholder="Puntuación" required />
</div>

  <p-button type="submit" severity="secondary">{{ 'save-btn' | translate }}</p-button>
</form>
</div>