<div class="container-new-song">
<form [formGroup]="songForm" (ngSubmit)="saveNewSong()">
  <div class="inputs-new-song">
  <label>Título:</label>
  <input formControlName="title" type="text" placeholder="Título de la canción" required />
  </div>

  <div class="inputs-new-song">
  <label>Artista:</label>
  <p-select formControlName="artist" [options]="artists" optionLabel="name"
                            placeholder="Select a artist" class="w-full md:w-56" />
</div>

  <div class="inputs-new-song">
  <label>Género:</label>
  <p-multiselect [options]="genres" formControlName="genre" optionLabel="title"
  placeholder="Select genres" [maxSelectedLabels]="3" styleClass="w-full md:w-80" />
</div>

  <div class="inputs-new-song">
  <label>Compañía Discográfica:</label>
  <p-select formControlName="company" [options]="companies" optionLabel="name"
                            placeholder="Select a company" class="w-full md:w-56" />
</div>

  <div class="inputs-new-song">
  <label>País:</label>
  <p-select formControlName="country" [options]="countries" optionLabel="name"
                            placeholder="Select a country" class="w-full md:w-56" />
                          </div>

  <div class="inputs-new-song">
  <label>Año:</label>
  <p-datepicker formControlName="year" view="year" dateFormat="yy" />
  </div>

  <div class="inputs-new-song">
  <label>Puntuación (0-10):</label>
  <input formControlName="rating" type="number" step="0.1" min="0" max="10" placeholder="Puntuación" required />
</div>

  <p-button type="submit" severity="secondary">Guardar</p-button>
</form>
</div>