
@if(!loading){
    @if(!isEditing){
    <div>
        <div class="songs-countainer">
            <div class="song-list-container">
                <h1 class="song-title">{{song.title}} ({{song.artistName}})</h1>
                <div class="img-item">
                    <img [src]="song.poster" alt="">
                </div>
        <p><strong>Género:</strong> {{ song.genre.join(', ') || 'No definido' }}</p>
        <p><strong>Compañía discográfica:</strong> {{ songCompanyName?.name || 'No definido' }}</p>
        <p><strong>País:</strong> {{ selectedCountry?.name || 'No definido' }}</p>
        
        <p><strong>Año:</strong> {{ song.year || 'No definido' }}</p>
            </div></div>
    </div>
    }
    @if(isEditing){
        <form [formGroup]="editForm">
            <div class="songs-countainer">
                <div class="song-list-container">
                    <h1 class="song-title">{{song.title}} ({{song.artistName}})</h1>
                    <div class="img-item">
                        <img [src]="song.poster" alt="">
                    </div>
                    <p><strong>Género:</strong> {{ song.genre.join(', ') || 'No definido' }}</p>

                    <label>Género:</label>
                    <p-multiselect [options]="genres" formControlName="genre" optionLabel="title"
                        placeholder="Select Cities" [maxSelectedLabels]="3" styleClass="w-full md:w-80" />

                    @if(companies.length < 0){
                    <label>Compañía Discográfica:</label>
                    <p-select formControlName="company" [options]="companies" optionLabel="name"
                        placeholder="Select a City" class="w-full md:w-56" />
                    }
                    <label>País:</label>
                    <p-select formControlName="country" [options]="countries" optionLabel="name"
                        placeholder="Select a City" class="w-full md:w-56" />

                    <label>Año:</label>
                    <p-datepicker formControlName="yearSelected" view="year" dateFormat="yy" />
                </div>
            </div>

        </form>
    }
    <button (click)="isEditing ? saveChanges() : toggleEdit()">
        {{ isEditing ? 'Guardar' : 'Editar' }}
    </button>
    <button (click)="deleteSong()">
        Eliminar
    </button>
}

@if(loading){
    <!--Jira:"ID-Jira" Falta configurar estilos adecuadamente -->
    <p-progress-spinner ariaLabel="loading" />
}