
<div class="test">
    <p-button (click)="visible = true" icon="pi pi-arrow-right" severity="secondary"/>
<p-drawer [(visible)]="visible" header="{{'menu-top-bar-title' | translate}}" class="test">
    <div class="menu-options">

        <ul class="list-items">
            @for(item of menuListItems; track item.title){
                   <li (click)="onOptionSelect(item)" class="list-item-name"> 
                     <span> {{item.title}}  </span>

            </li> 
 
        }
        </ul>
    </div>

</p-drawer>
</div>
